{
    "env": {
        "commonjs": true,
        "es6": true,
        "node": true,
        "browser": true
    },
    "extends": [
        "airbnb",
        "plugin:react/recommended",
        "plugin:import/errors",
        "plugin:import/warnings",
        "plugin:jsx-a11y/recommended",
        "plugin:sonarjs/recommended",
        "plugin:promise/recommended"
    ],
    "plugins": [
        "react",
        "jsx-a11y",
        "optimize-regex",
        "sonarjs",
        "no-loops",
        "no-use-extend-native",
        "promise"
    ],
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 2019,
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "linebreak-style": "off",
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [
                    ".js",
                    ".jsx"
                ]
            }
        ],
        "import/prefer-default-export": "off",
        "no-underscore-dangle": "off",
        "no-shadow": "off",
        "import/newline-after-import": "warn",
        "jsx-a11y/anchor-is-valid": "off",
        "react/no-unused-prop-types": "warn",
        "react/prop-types": "warn",
        "no-duplicate-case": "warn",
        "semi":"warn",
        "object-curly-newline":"warn",
        "react/jsx-props-no-spreading":"warn"
    }
}